


 <!-- Third Band (Image Right with Text) -->

 <div class="row">
   <div style="padding-top: 40px" class="large-7 columns">
     <h3>Sweet designs, for sleek development.</h3>
 <div style="padding-left: 15px"class="row">
  <p style="color:grey">________________________________________________________________</p>
</div>
     <p style="font-size: 20px">We take pride in designing, developing, and deploying simplistic, clean mobile applications and websites, and strive to reach all reaches of consumers with our products. Developing beautiful products is our passion. We are not only front-end designers, but back-end developers. We believe in every aspect of open-source software. All of our code is on Github for everyone to use. Check out our work above or our links below to get started. </p>

   </div>
   <div style="padding-top: 70px"class="large-4 columns">
     <img style="width:290px;height:290px;"

     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0iBAzaCiAoG0iNPkTsQ_9vX0K8KXZdqoJeXrgRGVpOTPOer5tRg">
   </div>
 </div>