<div >

<div style="padding-top:10px" class="large-5 columns">
		<h1 style="font-size:25px"> Ethan Thomas</h1>
		<p style="padding-top:10px">Co-Founder</p>
		<p>Lead Android and iOS Developer</p>
		<p>Lead Front End Web Developer</p>
		<p>Android and iOS Interface Designer</p>

		<p style="padding-left:20px; padding-top:30px"> Skills
			<ul style="padding-left:40px">
				<li>Java (Android)</li>
				<li>Objective-C (iOS)</li>
				<li>HTML/CSS</li>
				<li>Python</li>
				<li>XML for Android</li>
			</ul>
		</p>
</div>
<div class="show-for-small-only" style="padding-left:30px">
	<p style="color:#999">_______________________________</p>


</div>

<div style="padding-top:10px" class="large-6 columns">


		<h1 style="font-size:25px">Jake Dombrower</h1>

		<p style="padding-top:10px">Co-Founder</p>
		<p>Lead Web Developer</p>
		<p>Web Development Badass</p>
		<p>Android and iOS Interface Designer</p>

		<p style="padding-left:20px; padding-top:30px">Skills
			<ul style="padding-left:40px">
				<li>HTML/CSS</li>
				<li>Ruby On Rails</li>
				<li>Javascript</li>
				<li>XML for Android</li>


			</ul>
		</p>

		
</div>



</div>