

 
  <div class="row">
 
    <!-- Contact Details -->

    <div> 

    </div>
    <div class="large-7 columns">
 
      <h3>Get in Touch!</h3>
      <p>Have an app or website project you want us to work on? Tell us a little bit about it! 
        Leave your name, email, and a brief description of your project idea below. We will quickly respond  with our take on your idea, then discuss the steps involved to move forward with development of your project.</p> 
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Name</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="Name" placeholder="Jane Smith">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Email</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="Email" placeholder="jane@smithco.com">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Description</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="Description" placeholder="Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef">
                </div>
              </div>
             
              <button type="submit" class="big radius button">Submit Application</button>
            </form>
          </div>
        
      </div>
    </div>
 
    <!-- End Contact Details -->
 
 
    <!-- Sidebar -->
 
 
    
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    
  </footer>
 
  <!-- End Footer -->
 
 
 
  
  </div>
    