


<<<<<<< HEAD
<div style="padding-left:160px; padding-top:40px"class="button-bar">
 
  <ul class="button-group radius round">
    <li><a href="#" class="small button ">Applications</a></li>
    <li><a href="#" class="small button ">Websites</a></li>
  </ul>
</div>
=======


</div>
</div>
>>>>>>> a6f10374c7530b280c2e49d5804f1fb91f8e03d8
