


<div style="padding-left:160px; padding-top:40px"class="button-bar">
 
  <ul class="button-group radius round">
    <li><a href="#" class="small button ">Applications</a></li>
    <li><a href="#" class="small button ">Websites</a></li>
  </ul>
</div>