
<dl style="margin:auto"class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">App Development</a></dd>
  <dd><a href="#panel2-2">Web Development</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <p>HF Navigator ipsum.................... Wireless Travelers</p>
  </div>
  <div class="content" id="panel2-2">
    <p>Earn and Learn........................</p>
  </div>
  
</div>
